<a href="https://colab.research.google.com/github/Abdullah1Jubair/CSE110/blob/main/cse110_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

naming function(parameter)


calling function(argument)

In [ ]:
def function(a,b):
  sum = a + b
  product = a*b
  substraction = a-b
  print("the sum is",sum)
  print("Theprodis",product)
  print(substraction)

function(666,999)

the sum is 1665
Theprodis 665334
-333

Write a function which counts uppercase and lower case of a given string

In [ ]:
def function_name(string):
  count1 = 0
  count2 = 0
  for i in string:
    if ord(i) >= 65 and ord(i) <= 90:
      count1 += 1

    elif ord(i) >= 97 and ord(i) <= 127:
      count2+= 1

  print(count1)
  print(count2)

function_name("The quick Sand MAN")

5
10

Write a function called even_checker that takes a number as its argument and prints whether the number is even or odd inside the function.

In [ ]:
def even_checker(num):
  if num%2 == 0 :
    print("Even")
  else:
    print("ODD")
even_checker(10)

Even

Write a function called sequence() that takes an integer in its parameter called n. Now, if n is positive then it prints all the even numbers from 0 to n, otherwise if n is negative it prints all the odd numbers from n to -1.

In [ ]:
def is_pos(num1):
  if num1>0:
    return  True
  else:
    return False

def is_even(num1):
  if num1%2 == 0:
    return  True
  else:
    return False

def sequence(num):
  if is_pos(num) == True:
    for i in range(0,num+1):
      if is_even(i) == True:
        print(i,end=" ")

  else :
    for i in range(num,0,1):
      if is_even(i) == False:
        print(i,end=" ")

sequence(10)

0 2 4 6 8 10

Write a function called tri_area that takes 3 sides of a triangle as 3 arguments. The function should calculate and print the area of the triangle only if it's a valid triangle otherwise print that it's not a valid triangle.

In [ ]:
def is_valid_triangle(num1,num2,num3):
  if num1+num3>num2 and num2+num1>num3 and num3+num2>num1:
    return True
  else:
    return False

def tri_area(num1,num2,num3):
  import math as m
  area = 0
  if is_valid_triangle(num1,num2,num3) == True:
    s = (num1+num2+num3)//2
    area = m.sqrt(s*(s-num1)*(s-num2)*(s-num3))
    print("%.3f"%area)
  else:
    print("Not Valid Triangle")
tri_area(7,5,10)

16.248

Write a function called fitting that takes three integer values as arguments. First two arguments are the two diameters and the third argument is the dimension. If it is 3 dimensional then you must calculate the volume of the spheres otherwise calculate the area of the circles. Finally, find out and print which circle/sphere can fit inside which one? Also, print how much space would be left if the smaller circle/sphere is put inside the larger one?

In [ ]:
def sphere(r):
  import math
  volume = (4/3)*math.pi*(r**3)
  return float("%.4f"% volume)

def circle(r):
  import math
  area = math.pi*(r**2)
  return float("%.4f"% area)


def fitting(dia1,dia2,dimen):
  if dimen == 3:
    volume1 = sphere(float("%.2f"%dia1))
    volume2 = sphere(float("%.2f"%dia2))
    if volume1>volume2:
      diff = volume1 - volume2
      print(f"Sphere-2 can fit inside Sphere-1 and {diff} cubic units would be left")
    else:
       diff = volume2 - volume1
       print(f"Sphere-1 can fit inside Sphere-2 and {diff} cubic units would be left")
  elif dimen ==2:
    area1 = circle(float("%.2f"%dia1))
    area2 = circle(float("%.2f"%dia2))
    if area1>area2:
      diff = (area1 - area2)
      print(f"Circle-2 can fit inside Circle-2 and {diff} square units would be left")
    else:
      diff = area2- area1
      print(f"Circle-1 can fit inside Circle-2 and {diff} square units would be left")
fitting(8,10,2)

Circle-1 can fit inside Circle-2 and 113.09739999999996 square units would be left

In [ ]:
print("Starting.....3")
c=99
def F3(a):
    print("F3 begun")
    print(a+c)
    print("F3 ending")
    return a*5
print("Starting...2")
def F1():
    print("F1 begun")
    F2(5)
    print("F1 ended")
print("Starting..1")
def F2(c):
    print("F2 begun")
    print( F3(c)+30 )
    print("F2 ended")
print(F1())
print("All Done")

In [ ]:
def one_call(n):
  print("In One call")
  if n%3 ==  0 :
    return n+7
    print("One Call done")
  return n-9
  return 12
def two_call(a,b=20,c="Sayounara"):
  a+= b//2+6
  if type(c)== str:
    b = c[b]+c[len(c)-b]
  else:
    b= (b+c)%3
  result = one_call(a)
  print(result)
  if type(b) == str:
    return b,c

x,y = two_call(11,3)
t = two_call(3,8,12)
print(t)
print(x,y)

In One call
25
In One call
4
None
oa Sayounara

Write a function called one_to_N that prints 1 till N recursively.
Hint: N is a number taken as input from the user and you need to print the numbers starting from 1 to N recursively.

In [ ]:
def one_to_n(n,m):
  if n ==m:
    print(n, end=" ")
  else:
    print(n,end =" ")
    one_to_n(n+1,m)
n = int(input())
one_to_n(1,n)

5
1 2 3 4 5

Write a function reverse_printing from N to 1 recursively
Hint: N is a number taken as input from the user and you need to print the numbers starting from N to 1.

In [ ]:
def reverse_printing(n,m):
  if m== n:
    print(m, end=" ")
  else:
    print(m,end=" ")
    reverse_printing(n,m-1)
n = int(input())
reverse_printing(1,n)

6
6 5 4 3 2 1

Write a function summation to sum till N recursively
Hint: N is a number taken as input from the user and you need to add the numbers starting from 1 to N recursively and print the sum.

In [ ]:
def recursive_summation(n,m):
  if n == m:
    return n
  else:
    return n+ recursive_summation(n+1,m)

n= int(input())
recursive_summation(1,n)

4

10