<a href="https://colab.research.google.com/github/Abdullah1Jubair/CSE110/blob/main/CSE110input%2Coperatorchanging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

number = input ("Please enter a number: ")
print(number)

Please enter a number: 45

input => user theke kichu chay
         always string type hoy

Thre are 3 types of Print .


1.   comma print
2.   f str print
3. . format print

**Comma Print**
, dan and bam sentence er majhe space ane

In [ ]:
print ("the number is : ", number )
number = 45

the number is :  45

**f string print**

In [ ]:
name = input("Please enter your name: ")
age = int(input("Please enter a number: "))
position = input("Please enter your position: ")

print (f"your name is :{name}, your age is :{age}, your position is :{position}")

Please enter your name: suvo
Please enter a number: 21
Please enter your position: BBA BUET
your name is :suvo, your age is :21, your position is :BBA BUET

.Format print

In [ ]:
name = "Jubair"
age = "38"
position = "cse"
print ("your name is : {}, Your age is : {}, Your postion is :{} ".format (name,age,position))

your name is : Jubair, Your age is : 38, Your postion is :cse

**Converting String to Integer**

In [ ]:
Money = "14444444444444444444444"
convert = int(Money)
print (type(convert))

<class 'int'>

In [ ]:
name = input ("Please enter your name :")
age = int(input("please enter your age :"))
position = input ("please enter your position : ")

In [ ]:
a = 2
b = 2
print (str(a)+"^"+str(b)+":"+str(a**b))