<a href="https://colab.research.google.com/github/Abdullah1Jubair/CSE110/blob/main/cse110_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
one = "Rolls Royce"
two = 2.1
three = 000000
print(one)
print(two)
print(three)

Rolls Royce
2.1
0

List code insertion easy kore.
jekono type er input nite pare

In [ ]:
#heterogenous
a_list = ["Rolls Royce", 2.1, 000000]
print(a_list)

['Rolls Royce', 2.1, 0]

append diye list e insert kora hoy

In [ ]:
#Insertion
a_list = []
a_list.append("besla")
print(a_list)
a_list.append("2.1 millions")
print(a_list)

['besla']
['besla', '2.1 millions']

list e same jinish bar bar input dewa possible

In [ ]:
# duplicate
a_list = [44,44,44,666,88 ,44]
print(a_list)
a_list.append(44)
print(a_list)

[44, 44, 44, 666, 88, 44]
[44, 44, 44, 666, 88, 44, 44]

In [ ]:
#mutable
a_list = [44,"nani","baka"]
a_list[2] = "?"
print(a_list)

[44, 'nani', '?']

Write a Python program that reads 5 numbers from the user and enters it into a list. Upon entering each number, show the list as output.

In [ ]:
a_list = []
for i in range(5):
    n = int(input("numebr: "))
    a_list.append(n)
    print(a_list)

numebr: 1
[1]
numebr: 2
[1, 2]
numebr: 3
[1, 2, 3]
numebr: 4
[1, 2, 3, 4]
numebr: 5
[1, 2, 3, 4, 5]

Write a Python program that reads 5 numbers from the user and enters it into a list. Upon entering each number, show the list as output.without the append function

In [ ]:
a_list = []
for i in range(5):
  n = int(input())
  a_list += [n]
  # a_list+= a_list
  print(a_list)

1
[1]
2
[1, 2]
3
[1, 2, 3]
4
[1, 2, 3, 4]
5
[1, 2, 3, 4, 5]

Take a list of 5 elements as user input and print the list in reverse order. Slicing can be used handling the given list as input. But to reverse the list you must not use slicing and split( ).

In [ ]:
user = [5, -5, 100, 1, 0] #dtype list
a_list = []
for i in range(len(user)):
  # if i=="," or "":
  #   continue
  # else:
    a_list.append(user[len(user)-1-i])

print(a_list)

[0, 1, 100, -5, 5]

Take a list of 5 elements as user input and print the list in reverse order. Slicing can be used handling the given list as input. But to reverse the list you must not use slicing and split( ).

In [ ]:
a_list = []
temp = ""
user = input()# dtype str

for i in user:
  if i >= "0"and i<= "9" or i== '-':
    temp += i
  elif i == ",":
    a_list.append( int(temp))
    temp = ""
a_list.append(int(temp))

new_list = []
for i in range(len(a_list)):
  new_list.append(a_list[len(a_list)-1-i])
print(new_list)

10, 20, 24, 25, 26, 35, 70
[10, 20, 24, 25, 26, 35, 70]
[70, 35, 26, 25, 24, 20, 10]

Write a Python program that takes an input from the user, then prints a new list excluding the first and last two elements of the given list. In case of not enough elements in the list, print "Not possible"

In [ ]:
a_list = []
temp = ''
user = input()

for i in user:
  if i >= "0" and i<= "9" :
    temp += i
  elif i == ","  :
    a_list.append(int(temp))
    temp = ''
a_list.append(int(temp))

empty_list = []
if len(a_list)>3:
  empty_list = a_list[2:-2]
  print(empty_list)
else:
  print("Not possible")

10, 20, 24, 25
[]

Letâ€™s assume, you have two given lists: List_one and List_two. Write a Python program that prints "True", if the given two lists have at least one common member. Otherwise, prints "False".

In [ ]:
list_one = [1, 4, 3, 2, 5]
list_two = [8, 7, 6, 9]

flag = False
for i in range(len(list_one)):
  for j in range(len(list_two)):
    if list_one[i] == list_two[j]:
      flag = True
      break
    else:
      flag = False
print(flag)

False

Suppose you have been given two lists. Write a Python program that replaces the last element of the first list with the second list

In [ ]:
list_one = [1, 4, 7, 5]
list_two = [6, 1, 3, 9]
last_num = []
last_num = list_one.pop(len(list_one)-1)
print(list_one+list_two)

[1, 4, 7, 6, 1, 3, 9]

Suppose you have two given lists. Write a Python program that creates a new list with all the even elements of both of the given lists and prints the new list. Your program should work for any two given lists.

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list2 = [10, 11, 12, -13, -14, -15,-16]
new_list = list1 + list2
a_list = []
for i in range(len(new_list)):
  if new_list[i]%2 == 0:
    a_list.append(new_list[i])
print(a_list)

[2, 4, 6, 8, 10, 12, -14, -16]

Design a recursive function called nested_to_linear that takes a nested list from the user, and returns the nested list as a linear one. Please refer to the example below to design your program and check with the sample input below.

In [ ]:
def nested_to_linear(num):
  len

user = ["start", 10, [4, 2, [11, [9, "mid", 3, [1, 0], 6]], 8], "Done"]
nested_to_linear(user)
print(nested_to_linear)

Assume you have a class of five students. And as a faculty you need to enter their name and CSE110 GPA in a list called grade_list. This particular grade_list consists of individual lists of the student's name and GPA. Hence, it makes the grade_list a nested list / list of lists.

In [ ]:
def grade_list():
  result=[]
  for i in range(5):
    n=input("Enter list: ")[1:-1]
    for j in range(len(n)):
      if n[j]==",":
        part1,part2=(n[:j]),(n[j+1:])
        result.append([part1,float(part2)])
        print(result)
grade_list()